<!-- app/views/clinics/show.html.erb -->

<div class="clinic-show-page container mt-5">
  <%= render "banner" %>

  <% if @clinic.image.attached? %>
    <%= cl_image_tag @clinic.image.key,  height: 300, width: 400, crop: :fill %>
  <% else %>
    <p>No photo available</p>
  <% end %>

  <div class="clinic-header">
    <h1><%= @clinic.address %></h1>
  </div>

  <div style="width: 100%; height: 400px;"
      data-controller="map"
      data-map-markers-value="<%= [{ lat: @marker[:lat], lng: @marker[:lng] }].to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="clinic-specialization d-flex justify-content-center">
    <p>Specialization: <%= @clinic.species %></p>
  </div>

  <div class="clinic-details d-flex justify-content-center ">
    <p class="clinic-description">Description: <%= @clinic.description %></p>
  </div>

 <!-- Clinic Action Buttons -->
<% if !current_user || (current_user && !current_user.vet?) %>
  <div class="clinic-actions mt-4 d-flex justify-content-center">
    <%= link_to "Book an Appointment", new_clinic_booking_path(clinic_id: @clinic.id), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="clinic-actions mt-4 d-flex justify-content-center">
  <% if current_user&.vet? && @clinic.user_id == current_user.id %>
    <%= link_to "Edit Clinic", edit_clinic_path(@clinic), class: "btn btn-secondary" %>
    <%= button_to 'Delete Clinic', clinic_path(@clinic), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
</div>



  <div class="back-link mt-3">
    <%= link_to "â† Back to All Clinics", clinics_path, class: "btn btn-outline-secondary" %>
  </div>

  <h6 class="mt-2">How to get there?</h6>
<div class="map-wrapper">
  <div
      id="map-container"
      class=" custom-map"
      data-controller="map"
      data-map-markers-value="<%= [{ lat: @marker[:lat], lng: @marker[:lng] }].to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<!-- Reviews Section -->
<div class="reviews-section mt-3">
  <h3 class="text-center">Reviews</h3>
  <div id="reviewsCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators (optional, for navigation dots) -->
    <div class="carousel-indicators">
      <% @clinic.reviews.each_with_index do |review, index| %>
        <button type="button" data-bs-target="#reviewsCarousel" data-bs-slide-to="<%= index %>"
                class="<%= 'active' if index == 0 %>"
                aria-current="<%= 'true' if index == 0 %>"
                aria-label="Slide <%= index + 1 %>">
        </button>
      <% end %>
    </div>


  <!-- Reviews Section -->
  <div class="reviews-section mt-5">
    <h3>Reviews</h3>
    <div class="row">
      <% @clinic.reviews.each do |review| %>
        <div class="col-md-4">
          <%= render 'reviews/rating_card', review: review %>
        </div>
      <% end %>
    </div>
  </div>
</div>
