<div class="clinic-show-page container mt-5">

  <div class="clinic-image mb-3">
    <%= image_tag 'clinic.png', alt: 'Logo of the clinic', class: 'img-fluid rounded' %>
  </div>

  <div class="clinic-header">
    <h1><%= @clinic.address %></h1>
  </div>

  <div class="clinic-specialization">
    <p>Specialization: <%= @clinic.species %></p>
  </div>


  <div class="clinic-details">
    <p class="clinic-description">Description: <%= @clinic.description %></p>
  </div>

  <div class="clinic-actions mt-4 d-flex justify-content-between">
    <%= link_to "Book an Appointment", new_clinic_booking_path(clinic_id: @clinic.id), class: "btn btn-primary" %>
    <%= link_to "Edit Clinic", edit_user_clinic_path(@clinic), class: "btn btn-secondary" %>
    <%= button_to 'Delete Clinic', user_clinic_path(@clinic), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>

  <div class="back-link mt-3">
    <%= link_to "â† Back to All Clinics", clinics_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
