<%= form_with model: @pet, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :species %><br>
    <%#= f.text_field :species, %w[cat dog bird rabbit exotic]%>
    <%= f.select :species, options_for_select(['cat', 'dog', 'bird', 'rabbit', 'exotic'])%>
  </p>
    <p>
    <%= f.label :breed  %><br>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
