<%= form_with model: @pet, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :species %><br>
    <%= f.select :species, %w[cat dog bird rabbit exotic]%>
  </p>
    <p>
    <%= f.label :breed  %><br>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </p>
  <% if @pet.photo.attached? %>
  <p>Current Photo:</p>
  <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<p>
  <%= f.label :photo %><br>
  <%= f.file_field :photo %>
</p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
