<%= form_with model: @pet, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :species %><br>
    <%= f.text_field :species %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
