<div class="container mt-4">
  <h1 class="mb-3 text-center"><strong>My Pets</strong> <i class="fa-solid fa-paw"></i></h1>
  <div class="boundary"></div>
  <div class="row <%= @pets.size % 3 == 0 ? '' : 'justify-content-center' %>">
    <% @pets.each do |pet| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <%= link_to pet_path(pet), class: "text-decoration-none" do %>
          <div class="pets-card-container py-3 px-2 text-center">
            <div class="pets-card">
              <div class="pets-image-container mb-3">
                <% if pet.photo.attached? %>
                  <%= cl_image_tag pet.photo.key, alt: 'Pet image', class: 'img-fluid pet-image' %>
                <% else %>
                  <%= image_tag 'pets.png', alt: 'Pet image', class: 'img-fluid pet-image' %>
                <% end %>
              </div>
              <p class="mb-0"><strong><%= pet.name %></strong></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-start text-center mt-5">
    <%= link_to 'â† Back', root_path, class: "btn btn-outline-secondary" %>
</div>
