<div class="container mt-4">
  <h1 class="mb-3 text-center"><strong><%= @pet.name %></strong></h1>
  <div class="boundary"></div>
  <div class="row">
    <div class="col-12 mb-4 d-flex align-items-center justify-content-center">
      <div class="pet-card-container p-3">
        <div class="pet-card">
          <div class="pets-image-container">
            <% if @pet.photo.attached? %>
              <%= cl_image_tag @pet.photo.key, alt: 'Pet image', class: 'img-fluid pet-image' %>
            <% else %>
              <%= image_tag 'pets.png', alt: 'Pet image', class: 'img-fluid pet-image' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 px-4">
      <div class="pet-card-details text-center">
        <div class="pet-stats row">

          <div class="col-6 col-md-6 mb-3 mb-md-0" id="pet-list-left">
            <ul class="pet-list text-left">
              <li><b>Species</b>: <%= @pet.species %></li>
              <li><b>Age</b>: <%= pluralize(@pet.age, 'year') %> old</li>
            </ul>
          </div>

          <div class="col-6 col-md-6" id="pet-list-right">
            <ul class="pet-list text-left">
              <li><b>Breed</b>: <%= @pet.breed.blank? ? "N/A" : @pet.breed %></li>
              <li><b>Weight</b>: <%= @pet.weight %> kg</li>
            </ul>
          </div>

          <div class="col-12" id="pet-description">
            <p><b>Pet description</b>: <em><%= @pet.description %></em></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <% if @pet.bookings.any? %>
        <div class="boundary"></div>
        <h2 class="mb-4">Appointments for your pet</h2>
        <div class="table-responsive bg-light">
          <table class="table table-striped">
            <thead class="table-success">
              <tr>
                <th>Pet</th> <!-- New column for pet image -->
                <th>Date</th>
                <th>Time</th>
                <th class="d-none d-sm-table-cell">Description</th>
                <th class="d-none d-sm-table-cell">Clinic</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @pet.bookings.each do |booking| %>
                <tr>
                  <!-- Pet Image and Name Column with Link -->
                  <td class="text-center ">
                    <%= link_to pet_path(booking.pet), class: "text-decoration-none" do %>
                      <% if booking.pet&.photo&.attached? %>
                        <%= cl_image_tag booking.pet.photo.key, alt: 'Pet image', class: 'img-thumbnail rounded-circle', style: 'width: 60px; height: 60px;' %>
                      <% else %>
                        <%= image_tag 'pets.png', alt: 'Pet image', class: 'img-thumbnail rounded-circle', style: 'width: 60px; height: 60px;' %>
                      <% end %>
                      <div class="pet-name mt-0"><%= booking.pet.name %></div>
                    <% end %>
                  </td>
                  <td><%= booking.date %></td>
                  <td><%= booking.time.strftime("%I:%M %p") %></td>
                  <td class="d-none d-sm-table-cell"><%= booking.description %></td>
                  <td class="d-none d-sm-table-cell"><%= booking.clinic.email if booking.clinic %></td>
                  <td class="text-center">
                    <%= link_to "Show", booking_path(booking), class: "btn btn-primary btn-sm text-white" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
    <div class="col-12 d-flex justify-content-space-between">
      <% if current_user.pets.include?(@pet) %>
        <div class="col-6 text-center">
          <%= link_to edit_pet_path(@pet), class: "pet-link" do %>
            <i class="fa-solid fa-pen-to-square"></i> Edit pet
          <% end %>
        </div>

        <div class="col-6 text-center">
          <%= button_to pet_path(@pet), method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this pet?' } do %>
            <i class="fa-solid fa-trash"></i> Remove pet
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="back-link mt-5">
  <%= link_to "â† Back", pets_path, class: "btn btn-outline-secondary" %>
</div>
