<%= form_with model: @booking, local: true, data: { turbo: false } do |f| %>
   <p>
    <%= f.label :pet %><br>
    <%= f.select :pet_id, current_user.pets.map { |pet| [pet.name, pet.id] }, include_blank: true %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.time_field :time %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
   <%= f.submit "Confirm booking" %>
  </p>
<% end %>
