<h1>Booking details for <%= @booking.pet.name %></h1>
<p>Date: <%= @booking.date %></p>
<p>Time: <%= @booking.time %></p>
<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= button_to 'Delete', booking_path(@booking), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
<%= link_to 'Back', bookings_path %>

<% if @booking.review.present? %>
  <!-- Display the review if it exists -->
  <h3>Review</h3>
  <p><strong>Content:</strong> <%= @booking.review.content %></p>
  <p><strong>Rating:</strong> <%= @booking.review.rating %> / 5</p>
  <%= link_to "Edit Review", edit_booking_review_path(@booking, @booking.review), class: "btn btn-secondary" %>
<% else %>
  <!-- Button to add a review if no review exists -->
  <%= link_to "Add Review", new_booking_review_path(@booking), class: "btn btn-primary" %>
<% end %>
