<div class="container" id="new-filter-container">
  <div class="row">
    <div class="col-12">
      <div class="dropdown d-flex align-items-center">
        <a href="#" class="btn btn-primary dropdown-toggle" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Filter Options
        </a>
        <div class="dropdown-menu dropdown-menu-end p-3 custom-dropdown-menu" aria-labelledby="filterDropdown">
          <%= form_with url: root_path, method: :get, local: true do %>
            <!-- Responsive Row for Filters -->
            <div class="row">
              <!-- Species Filter -->
              <div class="col-md-6 col-12 mb-3">
                <div class="form-group text-start">
                  <%= label_tag :species, class: "form-label text-primary-green d-block" do %>
                    <i class="fa-solid fa-paw me-2"></i> Species
                  <% end %>
                  <%= select_tag :species,
                        options_for_select(['All'] + Clinic.pluck(:species).flatten.uniq, params[:species]),
                        class: "form-control form-select filter-select",
                        multiple: true %>
                </div>
              </div>

              <!-- Care Type Filter -->
              <div class="col-md-6 col-12 mb-3">
                <div class="form-group text-start">
                  <%= label_tag :care_type, class: "form-label text-primary-green d-block" do %>
                    <i class="fa-solid fa-stethoscope me-2"></i> Care Type
                  <% end %>
                  <%= select_tag :care_type,
                        options_for_select(['All'] + Clinic.pluck(:care_type).flatten.uniq, params[:care_type]),
                        class: "form-control form-select filter-select",
                        multiple: true %>
                </div>
              </div>
            </div>

            <!-- Buttons -->
            <div class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-3">
              <%= submit_tag "Filter", class: "btn btn-primary" %>
              <%= link_to "Reset", root_path, class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
