
<div class="navbar navbar-expand-xl navbar-light navbar-medivet sticky-top">
  <div class="container-fluid">

    <!-- Logo linking to homepage -->
      <%= link_to root_path, class: "navbar-brand d-none d-md-block" do %>
        <%= image_tag "medivet_logo.png", alt: "Medivet Logo" %>
      <% end %>


      <%= render partial: "shared/searchbar" %>

    <!-- Navbar Toggler for Mobile View -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right section: Navbar Links and User Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center"> <!-- align-items-center for vertical alignment -->
        <% if user_signed_in? %>
          <li class="nav-item mx-4 d-md-none">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item mx-4">
            <%= link_to "My Appointments", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item mx-4">
            <%= link_to "My Pets", pets_path, class: "nav-link" %>
          </li>
          <li class="nav-item mx-4">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>

          <!-- Profile Dropdown with Dropdown Arrow on Left Side -->
          <li class="nav-item dropdown d-flex align-items-center flex-column align-items-md-end">
            <a href="#" class="nav-link d-flex align-items-center" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-chevron-down me-2"></i> <!-- Dropdown arrow icon on the left -->
              <span class="profile-text me-2">user name</span> <!-- Display user's name -->
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "User Avatar" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end w-100 w-md-auto custom-dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "#", class: "dropdown-item" do %>
                <i class="fas fa-user"></i> My account
              <% end %>
              <%= link_to new_user_clinic_path(current_user), class: "dropdown-item" do %>
                <i class="fa-solid fa-house-chimney-medical"></i> Add a clinic
              <% end %>
              <%= link_to new_pet_path, class: "dropdown-item" do %>
                <i class="fa-solid fa-paw"></i> Add a pet
              <% end %>
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i> Log out
              <% end %>
            </div>
          </li>
        <% else %>
         <!-- "Sign Up as a Vet" Button -->
         <div class="mt-3 mt-md-2 mt-lg-0 d-flex flex-column flex-md-row align-items-center">
            <li class="nav-item mx-4 w-100">
              <%= link_to "Are you a veterinary professional?", "#", class: "btn btn-on-primary w-100" %>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <%= link_to "Customer Login", new_user_session_path, class: "nav-link text-md-center" %>
            </li>
         </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
