<% @clinics.each do |clinic| %>
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <p>Address : <%= clinic.address %></p>
        <p>Email : <%= clinic.email %></p>
        <p>Phone Number : <%= clinic.phone_numer %></p>
        <p>Rate : <%= clinic.rate %></p>
        <p>Care Type : <%= clinic.care_type %></p>
        <p>Webpage : <%= clinic.webpage  %></p>
        <p>Species : <%= clinic.species %></p>
        <p><%= clinic.description %></p>
        <%= link_to "Clinic details", clinic_path(clinic) %>
      </div>
    </div>
  </div>
<% end %>


<% if user_signed_in? %>
    <%= link_to 'Add a clinic', new_user_clinic_path(current_user), class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Add a clinic', new_user_session_path, class: "btn btn-primary" %>
<% end %>
